@model TheThreeOwlsWebApp.Models.Contacts.ContactsViewModel
@{
    ViewData["Title"] = "Контакти";
}
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@3/dist/email.min.js"></script>
<div class="text-center pb-5">
    <h1>
        @Model.Name
    </h1>
    <h3>
        @Model.Address
    </h3>
</div>
@if (User.Identity.IsAuthenticated)
{
    <div>
        <a asp-controller="Contacts" asp-action="Edit" class="btn btn-danger">Промени информацията за учебния център</a>
    </div>
}

<div class="p-3 mb-2 bg-primary text-white"></div>

<div class="col-lg-xl-8">
    <h3>Нашето местоположение: </h3>
    <iframe class="col-12 min-vh-80" src="https://www.google.com/maps/embed/v1/place?q=ул.+„Ангел+Димитров“+28А,+8016+Сарафово,+Бургас&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8" allowfullscreen></iframe>
</div>

<div class="p-3 mb-2 bg-primary text-white"></div>

<div class="col-lg-xl-8 d-flex flex-row">

    <div class="m-3">
        <h3>Свържете се с нас:</h3>
        <ul>
            <li class="h5">Телефон :@Model.Telephone</li>
            <li class="h5">E-mail : @Model.Email</li>
        </ul>
    </div>

    <div class="m-3">
        <h3>
            <br />
        </h3>
        <ul class="sm">
            <li class="fa fa-facebook-f h5"><a class="p-3 h5" href=@Model.FacebookPath> @Model.Name- facebook</a></li>
        </ul>
    </div>

</div>

<div class="p-3 mb-2 bg-primary text-white"></div>

<div class="alert alert-primary pt-3 mt-3" role="alert">
    <h4 class="text-center">За други въпроси моля използвайте тази форма: </h4>
</div>

<div class="offset-lg-2 col-lg-8">

    <div class="form-group">
        <label>Име:</label>
        <input id="fromName" type="text" class="form-control">
    </div>

    <div class="form-group">
        <label>E-mail:</label>
        <input id="toName" type="text" class="form-control">
    </div>

    <div class="form-group">
        <label>Съобщение:</label>
        <textarea id="message" class="form-control" rows="7"></textarea>
    </div>

    <div class="form-group">
        <button onclick="sendMail()" class="btn btn-primary btn-block">Изпрати запитване</button>
    </div>
</div>
<script type="text/javascript">
    (function () {
        emailjs.init("@ViewBag.appEmailjs");
    })();
</script>