@model IEnumerable<TheThreeOwlsWebApp.Models.Intro.CarouselIntroListingModel>
@{
    ViewData["Title"] = "Home Page";
}
<h1 class="text-center">Предстоящи курсове: </h1>
<div class="row ml-0">
    <img class="col-lg-3 m-4 border border-dark" src="/images/LogoFull.jpg" alt="logo">
    <img class="col-lg-3 m-4 border border-dark" src="/images/LogoFull.jpg" alt="logo">
    <img class="col-lg-3 m-4 border border-dark" src="/images/LogoFull.jpg" alt="logo">
</div>
<div class="row ml-0">
    <img class="col-lg-3 m-4 border border-dark" src="/images/LogoFull.jpg" alt="logo">
    <img class="col-lg-3 m-4 border border-dark" src="/images/LogoFull.jpg" alt="logo">
    <img class="col-lg-3 m-4 border border-dark" src="/images/LogoFull.jpg" alt="logo">
</div>
<h3 class="text-center">Какво казват нашите ученици:</h3>
<a asp-controller="Home" asp-action="Add" class="btn btn-primary">Добави intro post</a>
@if (Model != null)
{
    <div id="carouselExampleControls" class="carousel slide text-lg-center" data-ride="carousel">
        <div class="row">
            <div class="carousel-inner">
                @foreach (var introComment in Model)
                {
                    <div class="carousel-item @(introComment == Model.First() ? "active" :"")">
                        <div class="container text-center">
                            <img class="rounded-circle" src="@introComment.Picture" alt="@introComment.Author">
                            <div class="card-body">
                                <h5 class="card-title">@introComment.Author на @introComment.AuthorAge години</h5>
                                <p>@introComment.Text</p>
                                <a asp-action="Delete" asp-route-id="@introComment.Id" class="btn btn-primary">Премахни коментара</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon bg-dark" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon bg-dark" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
}