@model IEnumerable<TheThreeOwlsWebApp.Models.Courses.CourseListingViewModel>

@{
    ViewData["Title"] = "Езикови курсове";
}
<div class="alert alert-primary pt-3 mt-3" role="alert">
    <h1 class="text-center">Всички наши курсове:</h1>
</div>
@if (User.Identity.IsAuthenticated)
{
    <div class="d-flex flex-row justify-content-center">
        <a asp-controller="Courses" asp-action="Add" class="btn btn-primary m-3">Добави нов курс</a>
        <a asp-controller="Courses" asp-action="AddCategory" class="btn btn-primary m-3">Добави нова категория</a>
    </div>
}
    <div class="row">
        @foreach (var course in Model)
        {
            <div onclick="openCourseDetails('@course.Id')" class="col-lg-4 course">
                <img src="@course.Image" alt="@course.Name" style="width: 22rem;" />
                <h5>@course.Name</h5>
                @*<h5>Цена - @course.Price.ToString("#,##") лв.</h5>*@
                @if (User.Identity.IsAuthenticated)
                {
                    <div>
                        <a asp-controller="Courses" asp-action="Edit" asp-route-id="@course.Id" class="btn btn-danger">Промени</a>
                    </div>
                }
            </div>
        }
    </div>
