@model TheThreeOwlsWebApp.Models.Courses.CourseListingViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="offset-sm-2" style="width:70%">
    <img class="img-top" src="@Model.Image" alt="@Model.Name">
    <div class="card-body">
        <h4 class="card-title text-center">@Model.Name</h4>
        <br />
        <p>@Model.Description</p>
        <p>Цена - @Model.Price лв</p>
    </div>
</div>